
<%= form_for(@answer) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="field span7">
        <%= f.text_area :content, placeholder: 'Cosa ne pensi?' %>
        <%= f.label :question_id, @question.id %>
        <%= f.text_area :question_id%>
      </div>
      <div class="span2">
        <%= f.submit 'Rispondi', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>


