<% provide :title, 'Modifica domanda' %>

<% if signed_in? %>
  <div class="row">
    <div class="span6 offset2">

      <h1 >Modifica domanda</h1>

      <%= form_for @question do |f| %>

        <%= render 'shared/error_messages', object:f.object %>
        <p>Titolo:</p>
        <%= f.text_field :title %>

        <p>Categoria:</p>
        <%= f.collection_select(:category_id, Category.all, :id, :title) %>

        <p>Fascia d'età:</p>
        <%= f.collection_select(:age_group_id, AgeGroup.all, :id, :name) %>

        <p>Descrizione:</p>
        <%= f.text_area :content %>

        <div class="center">
          <%= link_to 'Annulla', :back, class: 'btn btn-info' %>
          <%= f.submit'Modifica domanda', class:'btn btn-info' %>
        </div>

      <% end %>

    </div>
  </div>

<% else %>
  <p>Login non effettuato. <%= link_to 'Home', root_path %> </p>
<% end %>

