<% provide :title, 'Modifica domanda' %>

<h1 >Modifica domanda</h1>

<aside class="span6 offset3">
<%= form_for @question do |f| %>

    <%= render 'shared/error_messages', object:f.object %>
    Titolo: <%=  f.text_field :title %>

    <p>Categoria:</p>
    <%= f.collection_select(:category_id, Category.all, :id, :title) %>

    <p>Fascia d'età</p>
    <%= f.collection_select(:age_group_id, AgeGroup.all, :id, :name) %>

    Descrizione: <%=  f.text_area :content %>
    <div class="center">
    <%= link_to 'Annulla', :back, role: 'button', class: 'btn-large btn-info' %>
    <%= f.submit'Modifica domanda', class:'btn-info btn-large' %>
    </div>

<% end %>

</aside>

