<% provide :title, 'Domande' %>

<% if signed_in?%>

  <div class="row">
    <%= render 'questions/menu' %>
  </div>

  <div class="row">
    <%= render 'questions/search_form' %>
  </div>

  <h1>Tutte le domande</h1>

  <ul class="users">
    <%= render @questions %>
  </ul>

  <%= will_paginate%>

<% else %>
  <p>Login non effettuato. <%= link_to 'Home', root_path %> </p>
<% end %>