<% provide :title, 'Domande' %>

<h1>Tutte le domande</h1>

<%#= render 'list_category' %>
<%#=  render 'list_age_groups' %>

<%= render 'questions/menu' %>
<%= render 'questions/search_form' %>


<%= will_paginate %>

<ul class="users">
  <%= render @questions %>
</ul>

<%= will_paginate%>