<% provide :title, 'Domande' %>

<h1>Tutte le domande</h1>

<%#= render 'list_category' %>
<%#=  render 'list_age_groups' %>

<%= render 'questions/menu' %>
<%= render 'questions/search_form' %>



<p>Numero di "Mi piace": <%=  @like %></p>
<p>(Quando supererai i 2 "Mi piace" da parte degli altri utenti avrai la possibilità di aggiungere nuove catogorie)</p>

<% if current_user.admin? || @like > 2 %>
    <%= link_to 'Nuova Categoria', new_category_path, role: 'button', class: 'btn btn-info' %>
<% end %>


<%= will_paginate %>

<ul class="users">
  <%= render @questions %>
</ul>

<%= will_paginate%>