<% provide :title, 'Nuova domanda' %>

<h1 >Nuova domanda</h1>


<%= form_for @question do |f| %>


    <div class="row">
      <div class="span6 offset3">
        <%= render 'shared/error_messages', object:f.object %>

        Titolo: <%=  f.text_field :title %>

        <p>Categoria:</p>
        <%= f.collection_select(:category_id, Category.all, :id, :title) %>

        <p>Fascia d'età</p>
        <%= f.collection_select(:age_group_id, AgeGroup.all, :id, :name) %>

        Descrizione: <%=  f.text_area :content %>
      </div>
    </div>

    <div class="row">
      <div class="span4 offset3">
        <%= link_to 'Annulla', :back, role: 'button', class: 'btn btn-info' %>
        <%= f.submit 'Crea nuova domanda',class: 'btn btn-info' %>
      </div>

      <div class="span1 offset1">

        <div class="panel">
          <a href="#join_form" id="join_pop" class="preview_button">Anteprima</a>

        </div>
      </div>

      <a href="#x" class="overlay" id="join_form"></a>
      <div class="popup">
        <% if params[:preview_button]%>
            <%# se si schiaccia il bottone anteprima si fa vedere come si presenta la domanda una volta salvata %>

            <%= render 'shared/error_messages', object:f.object %>
            <div>
              <p>Titolo: <%= @question.title %></p>
              <p>Categoria: <%= category_name(@question) %></p>
              <p>Fascia d'età: <%= age_groups_name(@question) %></p>
              <p>Descrizione: <%= @question.content %></p>
            </div>
        <% end %>

        <a class="close" href="#close"></a>
      </div>
    </div>
    </div>
    </div>

<% end %>

