<% provide :title, 'Nuova domanda' %>

<h1 >Nuova domanda</h1>



<%= form_for @question do |f| %>

    <% if params[:preview_button]%>
        <%# se si schiaccia il bottone anteprima si fa vedere come si presenta la domanda una volta salvata %>

        <%= render 'shared/error_messages', object:f.object %>
        <div id="preview">
          <p>Titolo: <%= @question.title %></p>
          <p>Categoria: <%= category_name(@question) %></p>
          <p>Fascia d'età: <%= age_groups_name(@question) %></p>
          <p>Descrizione: <%= @question.content %></p>
        </div>
    <% end %>

    <div class="row">
      <div class="span6 offset3">
    <%= render 'shared/error_messages', object:f.object %>

      Titolo: <%=  f.text_field :title %>

      <p>Categoria:</p>
      <%= f.collection_select(:category_id, Category.all, :id, :title) %>

    <p>Fascia d'età</p>
    <%= f.collection_select(:age_group_id, AgeGroup.all, :id, :name) %>

      Descrizione: <%=  f.text_area :content %>
      </div>
    </div>

    <div class="center">
    <%= link_to 'Annulla', :back, role: 'button', class: 'btn btn-info' %>
    <%= f.submit 'Crea nuova domanda',class: 'btn btn-info' %>
    <%= f.submit 'Anteprima', :name => 'preview_button',class: 'btn btn-info' %>
    </div>
<% end %>



