<% provide :title, 'Nuova domanda' %>

<h1>Nuova domanda</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@question) do |f| %>

        <%= render 'shared/error_messages', object:f.object %>

        <%=  %>

        <%= f.label :title, 'Titolo *' %>
        <%= f.text_field :title %>

        <%= f.label :category_id, 'Numero categoria *'%>
        <%= f.text_field :category_id %>

        <%= f.label :age, 'Fascia d\'età *' %>
        <%= f.text_field :age %>

        <%= f.text_area :content %>

        <div>I campi contrassegnati dall'astrisco (*) sono obbligatori</div>
        <%= f.submit 'Crea nuova domanda', class: 'btn btn-large btn-primary' %>

    <% end %>
  </div>
</div>
