<% provide :title, 'Risultati ricerca' %>

<%= render 'questions/menu' %>
<%= render 'questions/search_form' %>

<h1><%= page_entries_info @questions %></h1>

<%= will_paginate %>

<ul class="users">
  <%= render @questions %>
</ul>

<%= will_paginate %>