<% provide :title, 'Risultati ricerca' %>

<div class="row">
  <%= render 'questions/menu' %>
</div>
<div class="row">
  <br/>
  <%= render 'questions/search_form' %>
</div>


<h1><%= page_entries_info @questions %></h1>
<ul class="posts">
  <%= render @questions %>
</ul>

<%= will_paginate %>