<% provide :title %>

<% if signed_in? %>

    <%#= render 'list_category' %>
    <%#= render 'list_age_groups' %>

    <div class="row">
      <%= render 'questions/menu' %>
    </div>
    <div class="row">
      <br/>
      <%= render 'questions/search_form' %>
    </div>

    <br/>

    <h3 class="center">Domanda</h3>


    <%# blocco per sapere quanti mi piace gli altri utenti hanno dato alle domande che ha scritto l'utente loggato %>
    <p>Numero di "Mi piace": <%= @like %></p>
    <p>(Quando supererai i 2 "Mi piace" da parte degli altri utenti avrai la possibilità di aggiungere nuove catogorie)</p>

    <% if current_user.admin? || @like > 2 %>
        <%= link_to 'Nuova Categoria', new_category_path, role: 'button', class: 'btn btn-info' %>
    <% end %>

    <div class="span9">



      <%= link_to gravatar_for (@question.user), @question.user %>
      <%= link_to @question.user.name, @question.user %>  <br>

      <%# visualizzazione della domanda %>
      <span class="content">
        <p><%= @question.title %></p>
        <p><%= category_name(@question) %>, <%= @question.category_id %> </p>
        <p><%= age_groups_name(@question) %>, <%= @question.age_group_id %></p>
        <p><%= @question.content %></p>
        <span class="timestamp">
          Domanda creata <%= time_ago_in_words(@question.created_at) %> fa
        </span>

        <% if @question.user == current_user %> <%# solo se l'utente che sta guardando la domanda è coui che l'ha inserita ha la possibilità di modificarla o cancellarla %>

          <%= link_to 'Modifica', edit_question_path(@question), role: 'button' %>

          <%= link_to 'Cancella', @question, role: 'button', method: :delete, data: {confirm: 'Sei sicuro?'}%>

        <% else %>
          <%# se l'utente che sta visualizzando la domanda non è colui che l'ha postata ha la possibilità di mettere un "Mi piace" o toglierlo %>
          <%= render 'questions/like_question_form' if signed_in? %>

        <% end %>

        <% if @question.answers.any? %>
            <h3 class="center">Risposte: <%= @question.answers.count %></h3>
            <ol class="posts">
              <%= render @answers %>
            </ol>
            <%= will_paginate @answers %>
        <% end %>

        <div id="answer_form">
          <%= render 'questions/answer_form'%>
        </div>

      </span>
    </div>
  </div>
<% end %>