<% provide :title, 'Intro' %>


<% if signed_in? %>

<div class="row">
  <div class="span6 offset3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </div>
  <div>
    <%= render 'shared/post_form' %>
  </div>
</div>

<% else %>
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit 'Login', class: 'btn btn-large btn-primary' %>

    <% end %>
    <p>Nuovo utente? <%= link_to 'Registrati ora!', signup_path %></p>


    <div class="center hero-unit">
      <h1>Benvenuto in New Dad</h1>
    </div>
<% end %>




