<% provide :title, 'Intro' %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit 'Login', class: 'btn btn-large btn-primary' %>

    <% end %>
    <p>Nuovo utente? <%= link_to 'Registrati ora!', signup_path %></p>
  </div>
</div>

<div class="center hero-unit">
  <h1>Benvenuto in New Dad</h1>
</div>




