<% provide :title %>
<html>
<head>
  <script src="http://wcetdesigns.com/assets/javascript/jquery.js"></script>
  <script src="http://wcetdesigns.com/assets/javascript/jquery/cookie-plugin.js"></script>

<script>
    function remember_me(){
        var c = $("#check"); //INPUT CHECKBOX

//IF CHECKBOX IS SET, COOKIE WILL BE SET
        if(c.is(":checked")){
            var u = $("#email").val(); //VALUE OF USERNAME
            var p = $("#password").val(); //VALUE OF PASSWORD
            $.cookie("email", u, { expires: 3650 }); //SETS IN DAYS (10 YEARS)
            $.cookie("password", p, { expires: 3650 }); //SETS IN DAYS (10 YEARS)
        }
    }
    //NEXT PAGE LOAD, THE USERNAME & PASSWORD WILL BE SHOWN IN THEIR FIELDS
    function load_em(){
        var u = $.cookie("email"); //"USERNAME" COOKIE
        var p = $.cookie("password"); //"PASSWORD" COOKIE

        $("#email").val(u); //FILLS WITH "USERNAME" COOKIE
        $("#password").val(p); //FILLS WITH "PASSWORD" COOKIE
    }
</script>

<% if signed_in? %>
    <div class="row">
      <aside class="span4">

        <section>
          <%= render 'shared/user_info' %>
        </section>

        <section>
          <%= render 'shared/stats' %>
        </section>

      </aside>

      <div class="span6">
        <h3>Wall</h3>
        <%=  render 'shared/feed' %>
      </div>
    </div>

<%else%>
    <div class="row">
      <div class="span2">

      </div>
      <div class="span10">

        <div class="container">
          <div class="row">
            <div class="span4" >
              <%= form_for(:session, url: sessions_path) do |f| %>

                  <%= f.label :email %>
                  <%= f.text_field :email %>
                  </div>
                  <div class="span4" >

                    <%= f.label :password %>
                    <%= f.password_field :password %>
                  </div>

                  <div class="span2">
                    <br/>
                    <label class="checkbox">
                      <input type="checkbox"> Remember me </input>
                    </label> </div>

                  <div class="span2" >
                    <br/>
                    <%= f.submit 'Login', class: 'btn btn-info' %>
                  </div>
                  </div>
                  </div>
                  </div>

                  <div class="center">
                    <h1 class="titolo">Benvenuti in</h1>
                    <h1 class="titolo2">NEWDAD</h1>
                    <div class="center">Sei un nuovo utente? <%= link_to 'Registrati ora!', signup_path, class: 'btn btn-info' %></div>
                  </div>

                  </div>

              <% end %>

<% end %>
  </html>