<% provide :title, 'Modifica profilo' %>

<%=  render 'users/menu_profilo' %>
<aside class="span3">
  <%= render 'shared/user_info_small' %>
</aside>
<h1>Modifica il tuo profilo</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages', object:f.object %>

        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, 'Conferma password' %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :n_children, 'Numero di figli'%>
        <%= f.text_field :n_children %>

        <%= f.label :city, 'Dove abiti'%>
        <%= f.text_field :city %>

        <%= f.label :description, 'Breve descrizione personale'%>
        <%= f.text_field :description %>

        <%= f.label :em_situation,'Situazione sentimentale'%>
        <%= f.text_field :em_situation %>

        <%= f.label :employment, 'Lavoro'%>
        <%= f.text_field :employment %>

        <div>Tua data di nascita</div>

        <%= f.label :day, 'Giorno'%>
        <%= f.text_field :day %>

        <%= f.label :month, 'Mese'%>
        <%= f.text_field :month %>

        <%= f.label :year, 'Anno'%>
        <%= f.text_field :year %>

        <h3>Figli</h3>



        <%= f.submit 'Salva le modifiche', class: 'btn btn-large btn-primary' %>

    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">Cambia la tua immagine</a>
  </div>
</div>