<% provide :title, 'Modifica profilo' %>
<div class="row">
  <div class="span4">
    <aside>
      <%= render 'shared/user_info_small' %>
    </aside>
    <br />

    <%=  render 'users/menu_profilo' %>
  </div>


  <div class="span8">
    <h1>Modifica il tuo profilo</h1>


    <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages', object:f.object %>

        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, 'Conferma password' %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :n_children, 'Numero di figli'%>
        <%= f.text_field :n_children %>

        <%= f.label :birthday, 'Compleanno' %>
        <%= f.date_select :birthday, :include_blank => true %>

        <%= f.label :city, 'Dove abiti'%>
        <%= f.text_field :city %>

        <%= f.label :description, 'Breve descrizione personale'%>
        <%= f.text_field :description %>

        <%= f.label :em_situation,'Situazione sentimentale'%>
        <%= f.select :em_situation, ['Single', 'Sposato', 'Separato', 'Divorziato', 'Convivente'], :include_blank => true %>

        <%= f.label :employment, 'Lavoro'%>
        <%= f.text_field :employment %>

        <div>Tua data di nascita</div>

        <%= f.label :day, 'Giorno'%>
        <%= f.text_field :day %>

        <%= f.label :month, 'Mese'%>
        <%= f.text_field :month %>

        <%= f.label :year, 'Anno'%>
        <%= f.text_field :year %>

        <h3>Figli</h3>


        <%= link_to 'Annulla', current_user, role: 'button', class: 'btn btn-large btn-primary'  %>
        <%= f.submit 'Salva le modifiche', class: 'btn btn-large btn-primary' %>

    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">Cambia la tua immagine</a>
  </div>
</div>