<% provide(:title, @title) %>

<div class="row">
  <div class="span3">
<%= render 'users/menu_profilo' %>
    </div>

<div class="row">
  <aside class="span4">
    <%= render 'shared/user_info_small'%>

  </aside>

  <div class="span8 offset3">
    <h3><%= @title %></h3>
    <% if @users.any? %>
        <ul class="users">
          <h3>Followers</h3>
          <%= render @users %>
          <%= will_paginate @users%>
        </ul>
        <ul class="users">
          <h3>Following</h3>
          <%= render @users2 %>
        </ul>
        <%= will_paginate @users2%>
    <% end %>
  </div>
</div>
</div>