<% provide(:title, @title) %>

<div class="row">
  <div class="span4">
    <aside>
      <%= render 'shared/user_info_small' %>
    </aside>
    <br />

    <%=  render 'users/menu_profilo' %>
  </div>

  <div class="span8">
    <h1><%= @title %></h1>
    <% if @users.any? %>
        <ul class="users">
          <h3>Followers</h3>
          <%= render @users %>
          <%= will_paginate @users%>
        </ul>
        <ul class="users">
          <h3>Following</h3>
          <%= render @users2 %>
        </ul>
        <%= will_paginate @users2%>
    <% end %>
  </div>
</div>
</div>