<% provide :title, 'Informazioni profilo' %>

<div class="row">
  <div class="span4">
    <aside>
      <%= render 'shared/user_info_small' %>
    </aside>
    <br />

    <%=  render 'users/menu_profilo' %>
  </div>

  <div class="span8">
    <h1>Informazioni di <%= current_user.name %></h1>

    <div>
      <p>Nickname: <%= current_user.name %></p>
      <p>Email: <%= current_user.email %></p>

      <% if !current_user.birthday.nil? %>
          <p>Compleanno: <%= current_user.birthday.strftime('%d - %m - %Y') %></p>
      <% end %>

      <% if !current_user.city.empty? %>
          <p>Abiti a: <%= current_user.city %></p>
      <% end %>


      <% if !current_user.description.empty? %>
          <p>Descrizione: <%= current_user.description %></p>
      <% end %>


      <% if !current_user.em_situation.empty? %>
          <p>Situazione sentimentale: <%= current_user.em_situation %></p>
      <% end %>


      <% if !current_user.employment.empty? %>
          <p>Lavoro: <%= current_user.employment %></p>
      <% end %>


      <p>Numero di figli: <%= current_user.n_children %></p>

    </div>
       </div>
  </div>
