<% provide :title %>

    <div class="row">

      <%#= render 'questions/list_category' %>
      <%#=  render 'questions/list_age_groups' %>

      <div class="row">
        <%= render 'questions/menu' %>
      </div>
      <div class="row">
        <br/>
        <%= render 'questions/search_form' %>
      </div>


      <%# blocco per sapere quanti mi piace gli altri utenti hanno dato alle domande che ha scritto l'utente loggato %>
      <p>Numero di "Mi piace": <%=  @like %></p>
      <p>(Quando supererai i 2 "Mi piace" da parte degli altri utenti avrai la possibilità di aggiungere nuove catogorie)</p>

      <div class="span8">

        <% if @user.questions.any? %>
            <h1 class="offset3">Mie domande: <%= @user.questions.count %></h1>
            <ol class="questions posts">
              <%= render @questions %>
            </ol>
            <%= will_paginate @questions %>
        <% end %>
      </div>

    </div>
