<% provide :title %>

    <div class="row">

      <%= render 'questions/list_category' %>
      <%=  render 'questions/list_age_groups' %>


      <div class="span8">

        <% if @user.questions.any? %>
            <h3>Mie domande: <%= @user.questions.count %></h3>
            <ol class="questions">
              <%= render @questions %>
            </ol>
            <%= will_paginate @questions %>
        <% end %>
      </div>

    </div>
