<% provide :title, 'Registrazione' %>

<h1>Registrazione</h1>

<div class="row">
    <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages', object:f.object %>

        <%= f.label :name, 'Nome *' %>
        <%= f.text_field :name %>

        <%= f.label :email, 'Email *'%>
        <%= f.text_field :email %>

        <%= f.label :password, 'Password *' %>
        <%= f.password_field :password%>

        <%= f.label :password_confirmation, 'Conferma password *' %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :n_children, 'N° figli *' %>
        <%= f.text_field :n_children %>

          <div class="input-append date" id="dp3" data-date-format="dd-mm-yyyy">
            <input class="span2" size="16" type="text" value="12-02-2012">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
          <script type="text/javascript">
              $('.datepicker').datepicker()
          </script>

        <div>I campi contrassegnati dall'astrisco (*) sono obbligatori</div>
          <br />
        <%= f.submit 'Crea il mio account', class: 'btn btn-large btn-primary' %>

    <% end %>
  </div>
</div>





