<% provide :title, @user.name %>

<% #Controllo se l'utente è quello di cui è aperta la sessione o no %>
<% if @user.id == current_user.id %>

    <div class="row">
      <div class="span3">

    <% #L'utente è la persona loggata%>
    <%=  render 'users/menu_profilo' %>
    </div>

    <div class="row">
      <aside class="span4">
        <%= render 'shared/user_info_small' %>
      </aside>

      <div class="span8">



        <% if current_user.posts.any? %>
            <h3>Post (<%= @user.posts.count %>)</h3>
            <ol class="posts">
              <%= render @posts %>
            </ol>
            <%= will_paginate @posts %>
        <% end %>
      </div>
    </div>
    </div>

    <% else %>

    <% #L'utente NON è la persona loggata, può essere un utente del sito, un suo follower o following --> possibilità di cambiare formattazione %>
    <% #No possibilità di: modificare il profilo, vedere il menù friends-informazioni-azioni %>
    <div class="row">
      <aside class="span4">

        <section>
          <%= gravatar_for @user %>
          <h1><%= @user.name %></h1>
          <span><%= link_to 'Profilo', @user %></span>
          <span><b>Posts:</b> <%= @user.posts.count %></span>
        </section>

        <section>
          <%= render 'shared/stats' %>
        </section>
        <% if current_user.following?(@user) %>
            <section>
              <%= link_to 'Nuovo messaggio', new_message_path(user: @user.id), role: 'button', class: 'btn btn-info', remote: true %>
              <div class="message"></div>
            </section>
        <% end %>
      </aside>

      <div class="span8">
        <%=  render 'follow_form' if signed_in? %>

        <% if @user.posts.any? %>
            <h3>Post (<%= @user.posts.count %>)</h3>
            <ol class="posts">
              <%= render @posts %>
            </ol>
            <%= will_paginate @posts %>
        <% end %>
      </div>
    </div>
    <% end %>




