<% provide :title, @user.name %>

<%=  render 'users/menu_profilo' %>

<div class="row">
  <aside class="span4">

    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to 'Profilo', @user %></span>
      <span><b>Posts:</b> <%= @user.posts.count %></span>
    </section>

    <section>
      <%= render 'shared/stats' %>
    </section>
    <% if current_user.following?(@user) %>
        <section>
          <%= link_to 'Nuovo messaggio', new_message_path(user: @user.id), role: 'button', class: 'btn btn-info', remote: true %>
          <div class="message"></div>
        </section>
    <% end %>
  </aside>

  <div class="span8">
    <%=  render 'follow_form' if signed_in? %>
    <% if @user.posts.any? %>
      <h3>Post (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <% will_paginate @posts %>
    <% end %>
  </div>
</div>
