<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>

<h1><%= current_user.name %></h1>
<span><h6 class="link_modifica"><%= link_to 'Modifica Profilo', edit_user_path(current_user) %></h6></span>
<span><%= pluralize(current_user.posts.count, 'post') %></span>