<section>
 <%= gravatar_for current_user %>
  <h1><%= current_user.name %></h1>
  <span><h6 class="link_modifica"><%= link_to 'Modifica Profilo', edit_user_path(current_user) %></h6></span>
  <span><b>Posts:</b> <%= current_user.posts.count %></span>
</section>

<section>
  <%= render 'shared/stats' %>
</section>