<li>
  <%= link_to gravatar_for(answer.user), answer.user %>
  <span class="user">
   <h5 class="nome"> <%= link_to answer.user.name, answer.user %> </h5>
  </span>

  <span class="content"><%= answer.content %></span>
  <span class="timestamp"> Posted <%= time_ago_in_words(answer.created_at)%> ago</span>
  <% if current_user?(answer.user) %>
      <%#l'utente è colui che ha postato la risposta %>
      <%= link_to 'delete', answer, method: :delete, data: {confirm: 'Sei sicuro?'}, title: answer.content %>
    <% else %>
      <%# l'utente NON è colui che ha postato la risposta, può mettere mi piace o non mi piace più%>

      <%#= render 'answers/like_answer_form' %>

      <% unless current_user?(@user) %>
          <div id="like_answer_form">
            <% if current_user.like_answers?(answer) %>
                <%= render 'dont_like_question' %>
            <% else %>
                <%= render 'like_question' %>
            <% end %>
          </div>
      <% end %>

  <% end %>

</li>


