<% provide :title, 'Domande' %>

<%= render 'questions/list_category' %>
<%= render 'questions/list_age_groups' %>

<h1>Tutte le domande dell'ambito: <%= @age_group_current.name %></h1>
<div class="span9">
  <h3>Wall</h3>
  <%= will_paginate @questions%>
  <%= render @questions %>
  <%= will_paginate @questions%>
</div>