<% provide :title, 'Domande' %>



<%= render 'questions/list_category' %>

<h1>Tutti le domande dell'ambito: <%= @cat_current.title %></h1>
<div class="span9">
  <h3>Wall</h3>
  <%= will_paginate @questions%>
  <%= render @questions %>
  <%= will_paginate @questions%>
</div>