
<% if signed_in?%>
  <div class="navbar">
    <div class="container">

      <ul class="fancyNav center">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Profilo', current_user %></li>
        <li><%= link_to 'Messaggi', messages_user_path(current_user) %></li>
        <li><%= link_to 'Muro dello Sfogo', muro_sfogo_path %></li>
        <li><%= link_to 'Domande', home_questions_path %></li>
        <li><%= link_to 'Eventi', eventi_path %></li>
      </ul>

    </div>
  </div>
<% end %>